@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --background1: #F9FAFC;
  --background2: #FFFFFF;
  --shadow1: rgba(150, 150, 150, 0.25) 0px 54px 55px, rgba(150, 150, 150, 0.12) 0px -12px 30px, rgba(150, 150, 150, 0.12) 0px 4px 6px, rgba(150, 150, 150, 0.17) 0px 12px 13px, rgba(150, 150, 150, 0.09) 0px -3px 5px;
  --shadow2: rgba(94, 94, 94, 0.25) 0px 54px 55px, rgba(94, 94, 94, 0.25) 0px -12px 30px, rgba(94, 94, 94, 0.25) 0px 4px 6px, rgba(94, 94, 94, 0.25) 0px 12px 13px, rgba(94, 94, 94, 0.25) 0px -3px 5px;
}

body {
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 0px;
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
}
body .main-div {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: var(--background1);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 33.3333333333% 33.3333333333% 33.3333333333%;
  width: 100%;
  height: 100%;
}
body .main-div .div1 {
  box-shadow: var(--shadow1);
  background: var(--background1);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
body .main-div .div1:hover {
  box-shadow: var(--shadow2);
}
body .main-div .div2 {
  box-shadow: var(--shadow1);
  background: var(--background1);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
body .main-div .div2 .stat-podatki {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  text-align: center;
}
body .main-div .div2 .stat-podatki .stat-podatki1 {
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline-block;
}
body .main-div .div2 .stat-podatki .stat-podatki2 {
  grid-column-start: 2;
  grid-column-end: 3;
  display: inline-block;
}
body .main-div .div2:hover {
  box-shadow: var(--shadow2);
}
body .main-div .div3 {
  box-shadow: var(--shadow1);
  background: var(--background1);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
body .main-div .div3 .graph1 {
  height: 100%;
}
body .main-div .div3:hover {
  box-shadow: var(--shadow2);
}
body .main-div .div4 {
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  align-content: center;
  height: 100%;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .main-div .div4 .graph {
  margin-top: 20px;
  display: inline-block;
  transform: scale(1.2, 1.3);
}
body .main-div .div5 {
  box-shadow: var(--shadow1);
  background: var(--background1);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
body .main-div .div5 .graph2 {
  height: 100%;
}
body .main-div .div5:hover {
  box-shadow: var(--shadow2);
}
body .main-div .obcine {
  box-shadow: var(--shadow1);
  background: var(--background1);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
body .main-div .obcine .obcine1 {
  overflow: auto;
  height: 80%;
}
body .main-div .obcine .obcine1 .list-group {
  display: inline-block;
  text-align: center;
}
body .main-div .obcine .obcine1 .list-group .obcina-div {
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  transition: all 0.2s ease-in-out;
}
body .main-div .obcine .obcine1 .list-group .obcina-div p {
  font-size: calc(0.5vmax + 0.5vmin);
}
body .main-div .obcine .obcine1 .list-group .obcina-div:hover {
  background-color: rgb(136, 136, 136);
  cursor: pointer;
}
body .main-div .obcine .obcine1::-webkit-scrollbar {
  display: none;
}
body .main-div .obcine:hover {
  box-shadow: var(--shadow2);
}
body .main-div .div7 {
  box-shadow: var(--shadow1);
  display: inline-block;
  transition: all 0.2s ease-in-out;
  background: var(--background1);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
body .main-div .div7 .graph3 {
  height: 100%;
}
body .main-div .div7:hover {
  box-shadow: var(--shadow2);
}/*# sourceMappingURL=style.css.map */