@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --background1: #F9FAFC;
    --background2: #FFFFFF;
    --shadow1: rgba(150, 150, 150, 0.25) 0px 54px 55px, rgba(150, 150, 150, 0.12) 0px -12px 30px, rgba(150, 150, 150, 0.12) 0px 4px 6px, rgba(150, 150, 150, 0.17) 0px 12px 13px, rgba(150, 150, 150, 0.09) 0px -3px 5px;
    --shadow2: rgba(94, 94, 94, 0.25) 0px 54px 55px, rgba(94, 94, 94, 0.25) 0px -12px 30px, rgba(94, 94, 94, 0.25) 0px 4px 6px, rgba(94, 94, 94, 0.25) 0px 12px 13px, rgba(94, 94, 94, 0.25) 0px -3px 5px;
}
body {
    font-family: Poppins,sans-serif;
    text-align: center;
    margin: 0px;
    height: 100%;
    width: 100%;

    color: rgb(0, 0, 0);

    

    .main-div {
        position:absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;

        background: var(--background1);
        
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: calc(100% / 3) calc(100% / 3) calc(100% / 3);
        width: 100%;
        height: 100%;

        .div1 {
            box-shadow: var(--shadow1);
            background: var(--background1);
            display: inline-block;
            transition: all 0.2s ease-in-out;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;

            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .div1:hover {
            box-shadow: var(--shadow2);
        }
        .div2 {
            box-shadow: var(--shadow1);
            background: var(--background1);
            display: inline-block;
            transition: all 0.2s ease-in-out;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;

            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .div2:hover {
            box-shadow: var(--shadow2);
        }
        .div3 {
            box-shadow: var(--shadow1);
            background: var(--background1);
            display: inline-block;
            transition: all 0.2s ease-in-out;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;

            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;

            .graph1 {
                height: 100%;
            }
        }
        .div3:hover {
            box-shadow: var(--shadow2);
        }
        .div4 {
            display: inline-block;
            transition: all 0.2s ease-in-out;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;
            
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;

            .graph {
                height: 100%;
                width: 100%;

                .main-svg {
                    display: block;
                    
                    border-radius: 15px;
                }
            }
        }
        .div5 {
            box-shadow: var(--shadow1);
            background: var(--background1);
            display: inline-block;
            transition: all 0.2s ease-in-out;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;
            
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;

            .graph2 {
                height: 100%;
            }
        }
        .div5:hover {
            box-shadow: var(--shadow2);
        }
        .obcine {
            box-shadow: var(--shadow1);
            background: var(--background1);
            display: inline-block;
            transition: all 0.2s ease-in-out;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;
            
            
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;

            .obcine1 {
                overflow: auto;
                height: 80%;
                .list-group {
                    display: inline-block;
                    text-align: center;

                    .obcina-div {
                        border-radius: 5px;
                        padding-top: 1px;
                        padding-bottom: 1px;
                        transition: all 0.2s ease-in-out;
                    }

                    .obcina-div:hover {
                          background-color: rgb(136, 136, 136);
                          cursor: pointer;
                    }
                }
            }
            .obcine1::-webkit-scrollbar {
                display: none;
            }

            

        }

        .obcine:hover {
            box-shadow: var(--shadow2);
        }
        .div7 {
            box-shadow: var(--shadow1);
            display: inline-block;
            transition: all 0.2s ease-in-out;
            background: var(--background1);
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 15px;
            margin-right: 15px;
            border-radius: 10px;
            
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .div7:hover {
            box-shadow: var(--shadow2);
        }
    }
}
